@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
    font-family: 'Kanit', sans-serif;
    font-size: 26px;
    background: #B0E298;
    color: #000;
   
}
h1, h2, h3, h4, h5, h6 {
    font-size: 50px;
  }
  
  @media (min-width: 480px) {
  }
    body {
      font-size: 14px;
      background: #3D3B8E;
      color: #fff;
    }
    
    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }
    .container {
      display: flex;
    }
  
  