ol >.p1{
    color:blue; font-weight: bold; font-size: 50px;
}

.p2{
    color: grey; font-size: 20px;
}

.p3{
    font-size: 8px; font-weight: italic; 
}

.p4{
    color:orange;font-size:35px;
}

.p5{
    color:pink;font-family:Tahoma;
}